name: "MDPhysics"

arch: 
  _target_: model.MDPhysics.DPT
  cfg:
    dim: 48
    num_blocks: [6, 6, 12, 8]
    num_refinement_blocks: 4
    ffn_expansion_factor: 3
    img_size: ${dataset.img_size} # Link to dataset size
    backbone:
      name: "facebook/dinov2-base"
      patch_size: 14
