lr: 0.001
weight_decay: 0.001
epochs: 200
batch_size: 16
batch_size_val: 4
mode: 'train'

criterion:
  _target_: utils.losses.LossContainer
  cfg:
    sharp_image:
      weight: 1.0
      loss:
        _target_: utils.losses.CombinedMDTLoss
        l1_weight: 1.0
        fft_weight: 0.1
        reduction: mean

optimizer:
  _target_: torch.optim.AdamW
  lr: ${train.lr}
  weight_decay: ${train.weight_decay}

scheduler:
  _target_: torch.optim.lr_scheduler.CosineAnnealingLR
  T_max: ${train.epochs}

checkpoint:
  dir: ${hydra:runtime.output_dir}/checkpoints
  patience: 10
  min_delta: 0.0001
  monitor: psnr
  mode: max
